body {
	background: radial-gradient(ellipse at center, rgba(223,229,233,1) 2%,rgba(223,229,233,1) 2%,rgba(178,192,202,1) 100%) !important;
}

.small {
	line-height: 1.5 !important;
}

.list-group-item, .comments {
	background-color: #F5F5F5 !important;
}

.modal-backdrop {
	z-index: 1030 !important;
}

div.oembedall-container > div > a > img{
	display:block !important;
	width:80% !important;
	max-width:100% !important;
	height:auto !important;
	border-radius:6px !important;
	}
/*img {
	border-radius:6px !important;
}*/