/*------------------------------------------------------------------------------------*/
/*------------------------------  YOUR CUSTOM CSS STYLE  -----------------------------*/

.logo {
	font-size: 50px;
	text-align: center;
	font-family: 'Droid Serif', serif;
	font-style: italic;
	font-weight: bold !important;
	color: white;
}

.login-logo a:hover {
	text-decoration: none !important;
}

/*::-webkit-input-placeholder {
   color: red;
}*/
/* Firefox 18- */
/*:-moz-placeholder { 
   color: red;  
}*/
/* Firefox 19+ */
/*::-moz-placeholder {  
   color: red;  
}

:-ms-input-placeholder {  
   color: red;  
}*/