
<?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/js/vendor/kof-emoticons/support/skype/emoticons.css"); ?>
<?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/vendor/kof-emoticons/lib/emoticons.js"); ?>
<?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/vendor/bootstrap-filestyle.min.js"); ?>
<script type="text/javascript">
	//$(document).ready(function(){
		function smiley(id) {
			var definition = {smile:{title:"Smile",codes:[":)",":=)",":-)"]},"sad-smile":{title:"Sad Smile",codes:[":(",":=(",":-("]},"big-smile":{title:"Laughing",codes:[":D",":=D",":-D",":d",":=d",":-d"]},cool:{title:"Cool",codes:["8)","8=)","8-)","B)","B=)","B-)","(cool)"]},wink:{title:"Wink",codes:[";)",":o",":=o",":-o",":O",":=O",":-O"]},crying:{title:"Crying",codes:[";(",";-(",";=("]},sweating:{title:"Sweating",codes:["(sweat)","(:|"]},speechless:{title:"Speechless",codes:[":|",":=|",":-|"]},kiss:{title:"Kiss",codes:[":*",":=*",":-*"]},"tongue-out":{title:"Tongue Out",codes:[":P",":=P",":-P",":p",":=p",":-p"]},blush:{title:"Blush",codes:["(blush)",":$",":-$",":=$",':">']},wondering:{title:"Wondering",codes:[":^)"]},sleepy:{title:"Sleepy",codes:["|-)","I-)","I=)","(snooze)"]},dull:{title:"Dull",codes:["|(","|-(","|=("]},"in-love":{title:"In love",codes:["(inlove)"]},"evil-grin":{title:"Evil grin",codes:["]:)",">:)","(grin)"]},talking:{title:"Talking",codes:["(talk)"]},yawn:{title:"Yawn",codes:["(yawn)","|-()"]},puke:{title:"Puke",codes:["(puke)",":&",":-&",":=&"]},"doh!":{title:"Doh!",codes:["(doh)"]},angry:{title:"Angry",codes:[":@",":-@",":=@","x(","x-(","x=(","X(","X-(","X=("]},"it-wasnt-me":{title:"It wasn't me",codes:["(wasntme)"]},party:{title:"Party!!!",codes:["(party)"]},worried:{title:"Worried",codes:[":S",":-S",":=S",":s",":-s",":=s"]},mmm:{title:"Mmm...",codes:["(mm)"]},nerd:{title:"Nerd",codes:["8-|","B-|","8|","B|","8=|","B=|","(nerd)"]},"lips-sealed":{title:"Lips Sealed",codes:[":x",":-x",":X",":-X",":#",":-#",":=x",":=X",":=#"]},hi:{title:"Hi",codes:["(hi)"]},call:{title:"Call",codes:["(call)"]},devil:{title:"Devil",codes:["(devil)"]},angel:{title:"Angel",codes:["(angel)"]},envy:{title:"Envy",codes:["(envy)"]},wait:{title:"Wait",codes:["(wait)"]},bear:{title:"Bear",codes:["(bear)","(hug)"]},"make-up":{title:"Make-up",codes:["(makeup)","(kate)"]},"covered-laugh":{title:"Covered Laugh",codes:["(giggle)","(chuckle)"]},"clapping-hands":{title:"Clapping Hands",codes:["(clap)"]},thinking:{title:"Thinking",codes:["(think)",":?",":-?",":=?"]},bow:{title:"Bow",codes:["(bow)"]},rofl:{title:"Rolling on the floor laughing",codes:["(rofl)"]},whew:{title:"Whew",codes:["(whew)"]},happy:{title:"Happy",codes:["(happy)"]},smirking:{title:"Smirking",codes:["(smirk)"]},nodding:{title:"Nodding",codes:["(nod)"]},shaking:{title:"Shaking",codes:["(shake)"]},punch:{title:"Punch",codes:["(punch)"]},emo:{title:"Emo",codes:["(emo)"]},yes:{title:"Yes",codes:["(y)","(Y)","(ok)"]},no:{title:"No",codes:["(n)","(N)"]},handshake:{title:"Shaking Hands",codes:["(handshake)"]},skype:{title:"Skype",codes:["(skype)","(ss)"]},heart:{title:"Heart",codes:["(h)","<3","(H)","(l)","(L)"]},"broken-heart":{title:"Broken heart",codes:["(u)","(U)"]},mail:{title:"Mail",codes:["(e)","(m)"]},flower:{title:"Flower",codes:["(f)","(F)"]},rain:{title:"Rain",codes:["(rain)","(london)","(st)"]},sun:{title:"Sun",codes:["(sun)"]},time:{title:"Time",codes:["(o)","(O)","(time)"]},music:{title:"Music",codes:["(music)"]},movie:{title:"Movie",codes:["(~)","(film)","(movie)"]},phone:{title:"Phone",codes:["(mp)","(ph)"]},coffee:{title:"Coffee",codes:["(coffee)"]},pizza:{title:"Pizza",codes:["(pizza)","(pi)"]},cash:{title:"Cash",codes:["(cash)","(mo)","($)"]},muscle:{title:"Muscle",codes:["(muscle)","(flex)"]},cake:{title:"Cake",codes:["(^)","(cake)"]},beer:{title:"Beer",codes:["(beer)"]},drink:{title:"Drink",codes:["(d)","(D)"]},dance:{title:"Dance",codes:["(dance)","\\o/","\\:D/","\\:d/"]},ninja:{title:"Ninja",codes:["(ninja)"]},star:{title:"Star",codes:["(*)"]},mooning:{title:"Mooning",codes:["(mooning)"]},finger:{title:"Finger",codes:["(finger)"]},bandit:{title:"Bandit",codes:["(bandit)"]},drunk:{title:"Drunk",codes:["(drunk)"]},smoking:{title:"Smoking",codes:["(smoking)","(smoke)","(ci)"]},toivo:{title:"Toivo",codes:["(toivo)"]},rock:{title:"Rock",codes:["(rock)"]},headbang:{title:"Headbang",codes:["(headbang)","(banghead)"]},bug:{title:"Bug",codes:["(bug)"]},fubar:{title:"Fubar",codes:["(fubar)"]},poolparty:{title:"Poolparty",codes:["(poolparty)"]},swearing:{title:"Swearing",codes:["(swear)"]},tmi:{title:"TMI",codes:["(tmi)"]},heidy:{title:"Heidy",codes:["(heidy)"]},myspace:{title:"MySpace",codes:["(MySpace)"]},malthe:{title:"Malthe",codes:["(malthe)"]},tauri:{title:"Tauri",codes:["(tauri)"]},priidu:{title:"Priidu",codes:["(priidu)"]}};

        	$.emoticons.define(definition);
        	return $(id).html($.emoticons.replace($(id).text()));
        }

	//});
</script>
<style type="text/css">
	iframe {
		width: 100% !important;
	}
</style>

<?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/vendor/oembed/jquery.oembed.js"); ?>
<?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/js/vendor/oembed/jquery.oembed.css"); ?>

<div class="modal fade" id="newReport" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">New Report</h4>
      </div>
      <div class="modal-body">
        <form action="posts/create_report" method="post" class="form" enctype="multipart/form-data">
			<div class="form-group">
				<input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="middleName" name="middle_name" placeholder="Middle Name">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name">
			</div>
			<div class="form-group">
				<select data-toggle="select" name="suffix" class="form-control select select-info select-sm mrs mbm " id="categorySelect">
					<option value="">Select suffix (optional)</option>
					<option value="Jr.">Jr.</option>
					<option value="Sr.">Sr.</option>
					<option value="I">I</option>
					<option value="II">II</option>
					<option value="III">III</option>
					<option value="IV">IV</option>
					<option value="V">V</option>
				</select>
			</div>
			<div class="form-group">
				<select data-toggle="select" name="government_agency_id" class="form-control select select-info select-sm mrs mbm" id="govAgencySelect">
						<option value="">Select government agency</option>
					<?php foreach ($governmentAgencies as $governmentAgency) { ?>
						<option value="<?php echo $governmentAgency->id; ?>"><?php echo $governmentAgency->name; ?></option>
					<?php } ?>
				</select>
			</div>
			<div class="form-group">
				<input type="text" class="form-control" id="designation" name="designation" placeholder="Designation">
			</div>
			<div class="form-group">
				<select data-toggle="select" name="asset_type" class="form-control select select-info select-sm mrs mbm " id="categorySelect">
					<option value="">Select property type</option>
					<option value="Vehicle">Vehicle</option>
					<option value="House">House</option>
					<option value="Boat/Yacht">Boat/Yacht</option>
					<option value="Aircraft">Aircraft</option>
					<option value="Foreign Trip">Foreign Trip</option>
				</select>
			</div>
			<div class="form-group">
					<input type="text" class="form-control" id="estimatedValue" name="estimated_value" placeholder="Estimated Value">
			</div>
			<div class="form-group">
				<textarea class="form-control" id="details" name="content" placeholder="Details"></textarea>
			</div>
			<div class="form-group text-center">
						<input type="file" name="mediafile" class="filestyle" data-buttonName="btn-info btn-sm btn-embossed pull-right" data-input="false" data-iconName="glyphicon-camera" data-buttonText="" >
			</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info">Submit</button>
      </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-3 col-xs-6">
	<div class="share panel panel-default">
		<div class="panel-heading text-center">
			<h4 class="tile-title"><?php echo $sessionUser['username']; ?></h4>
		</div>
		<!-- <div class="panel-body">
	        <h3 class="tile-title">Web Oriented</h3>
	        <p>100% convertable to HTML/CSS layout.</p>
		</div> -->
    	<div class=" btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary btn-embossed btn-sm">Post  <br><span class="badge">14</span></button>
			</div>
			<div class="btn-group" role="group">
			    <button type="button" class="btn btn-inverse btn-embossed btn-sm">Following  <br><span class="badge">14</span></button>
			</div>
			<div class="btn-group" role="group">
			    <button type="button" class="btn btn-info btn-embossed btn-sm">Followers  <br><span class="badge">14</span></button>
			</div>
		</div>
	  	
	</div>
	<div class="well well-sm">
		Categories
		<?php echo Phalcon\Tag::linkTo(array('', 'All', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
		<?php echo Phalcon\Tag::linkTo(array('c=Lifestyle+Check', 'Lifestyle Check', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
		<?php echo Phalcon\Tag::linkTo(array('c=Protocol+Plates', 'Protocol Plates', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
		<?php echo Phalcon\Tag::linkTo(array('c=Wang-wang', 'Wang-wang', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
		<?php echo Phalcon\Tag::linkTo(array('c=Epal', 'Epal', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
		<?php echo Phalcon\Tag::linkTo(array('c=Other', 'Other', 'class' => 'btn btn-inverse btn-embossed btn-block')); ?>
    </div> <!-- /share -->
    <div class="well well-sm">
    	Agencies
    	<select data-toggle="select" id="selectAgency" class="form-control select select-info mrs">
    			<option value="">Please select..</option>
			<?php foreach ($governmentAgencies as $governmentAgency) { ?>
				<option value="<?php echo $governmentAgency->name; ?>"><?php echo $governmentAgency->name; ?></option>
			<?php } ?>
		</select>
    </div>
    <div class="well well-sm">
    	Groups
    	<p><small><a href="#">Jojo Binay</a></small></p>
    	<p><small><a href="#">Bong Revilla</a></small></p>
    </div>
</div>

<?php if (!$sessionUser) { ?>
<div class="col-md-3 col-xs-6 pull-right">
	<form class="well" action="register" method="post">
		<fieldset>
			Interested in helping the fight against high-living, corrupt govt officials?
			<div class="form-group">
			    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
			</div>
			<div class="form-group">
			    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
			</div>
			<div class="form-group">
			    <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" placeholder="Confirm password">
			</div>
			<div class="form-group">
			    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email (optional)">
			</div>
			<div class="form-group">
			    <input type="number" class="form-control" id="inputMobile" name="mobile" placeholder="Mobile (optional)">
			</div>
			<div class="form-group">
			    <button type="submit" class="btn btn-info btn-block btn-embossed">Sign up</button>
			</div>
		</fieldset>
	</form>
</div>
<?php } else { ?>

<div class="col-md-3 col-xs-6 pull-right">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">SPONSOR</h3>
	  </div>
	  <div class="panel-body">
	    BO's Coffee
	  </div>
	</div>
</div>
<?php } ?>

<div class="col-md-6 col-xs-12" id="wall">
<?php if ($sessionUser) { ?>
	<?php $this->flash->output(); ?>
	
	<div class="panel pane-default">
		<div class="panel-body well-sm">
				<button type="submit" class="btn btn-primary btn-embossed btn-sm btn-block pull-right" id="postBtn" data-toggle="modal" data-target="#newReport"><i class="fui-new"></i>&nbsp; Report</button>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<form action="posts/create" method="post" id="postForm" enctype="multipart/form-data">
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group pull-right">
						<input type="file" name="mediafile" class="filestyle" data-buttonName="btn-info btn-sm btn-embossed pull-right" data-input="false" data-iconName="glyphicon-camera" data-buttonText="" >
						</div>
					</div>
				</div>
				<div class="form-group">
					<textarea class="form-control" name="content" id="postTextArea" placeholder="Share your thoughts..." value="" /></textarea>
				</div>
				
				<div class="selector-wrapper"></div>
				<div class="row">
					<div class="col-lg-12">
					
  					<div class="col-lg-5 text-center">
						<select data-toggle="select" name="category_id" class="pull-left form-control select select-info select-sm mrs mbm" id="categorySelect">
							<option value="0">Category</option>
							<?php foreach ($categories as $category) { ?>
								<option value="<?php echo $category->id; ?>"><?php echo $category->category; ?></option>
							<?php } ?>
						</select>
					</div>
  					<div class="col-lg-5 text-center">
						<select data-toggle="select" name="government_agency_id" class="input-small form-control select select-info select-sm mrs mbm" id="govAgencySelect">
								<option value="">Agency</option>
							<?php foreach ($governmentAgencies as $governmentAgency) { ?>
								<option value="<?php echo $governmentAgency->id; ?>"><?php echo $governmentAgency->name; ?></option>
							<?php } ?>
						</select>
					</div>
					<div class="col-lg-2 pull-right">
		    			<button type="submit" class="btn btn-primary btn-embossed btn-sm " id="postBtn"><i class="fui-check"></i>&nbsp; Post</button>
		    		</div>
		    		</div>
		    	</div>
			</form>
		</div>
		
	</div>
<?php } ?>
	<!-- <div class="well well-sm btn-embossed">
		<div class="row">
			<div class="col-lg-2 text-center">
				<a href="index" class="btn btn-info btn-embossed">Posts</a>
			</div>
			<div class="col-lg-2 text-center">
				<a href="index/following" class="btn btn-info btn-embossed">Following</a>
			</div>
			<div class="col-lg-8 text-center">
				
			</div>
		</div>
	</div> -->
	<?php foreach ($posts as $key => $post) { ?>
	<div class="panel panel-default  ">
		<div class="panel-heading">
			
			<div class="btn-group pull-right">
				<i class="text-default small"><?php echo $post->Categories->category; ?> - <?php echo date('d M Y', strtotime($post->created)); ?></i>
				<span class="caret dropdown-toggle " data-toggle="dropdown"></span>

					<ul role="menu" class="dropdown-menu">
						<li><a href="#">Edit</a></li>
					</ul>
			</div><!-- /btn-group -->
			<h3 class="panel-title"><a href="users/u/<?php echo $post->Users->username; ?>"><?php echo $post->Users->username; ?></a> </h3>
			
		</div>
		<div class="panel-body">
			<?php if ($post->post_type == 'Report') { ?>
			Report
			<table class="small table table-striped table-hover">
				<tr>
					<td>Report Code</td>
					<td>: <?php echo $post->report_code; ?></td>
				</tr>
				<tr>
					<td>Asset Type</td>
					<td>: <?php echo $post->asset_type; ?></td>
				</tr>
				<tr>
					<td>Estimated Value</td>
					<td>: <?php echo $post->estimated_value; ?></td>
				</tr>
			</table>
	 		<?php } ?>
	 		<!-- <blockquote> -->
		 		<p class="small post" id="postContent<?php echo $post->id; ?>">
		 			<?php echo $post->content; ?>
		 		</p>
	 		<!-- </blockquote> -->
	 		<?php 
	 			$reg_exUrl = "/(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/"; 
	 			 preg_match($reg_exUrl, $post->content, $oembedLink);
	 			  ?>
	 		<div class="text-center">
	 			<div class="oembed<?php echo $post->id; ?>">
	 			<?php
	 				$fileName = "";
					$fileType = "";
					$thumbnail = "";
					if(count($post->PostFiles) > 0){
						foreach ($post->PostFiles as $fileKey => $postFile) {
							if($postFile->file_type == 'Image'){
							?>
								<img src="<?php echo 'http://' . $_SERVER['SERVER_NAME'].'/HuliKawFiles/'.$postFile->file_name; ?>" class="img-responsive img-rounded center-block">

								<?php
								} 

								if($postFile->file_type == 'Video'){
									$ext = pathinfo('http://'.$_SERVER['SERVER_NAME'].'/HuliKawFiles/'.$postFile->file_name, PATHINFO_EXTENSION);
								?>
								<div class="embed-responsive embed-responsive-16by9">
									<video width="520" class="embed-responsive-item"  controls>
									  <source src="<?php echo 'http://' . $_SERVER['SERVER_NAME'].'/HuliKawFiles/'.$postFile->file_name; ?>" type="video/<?php echo $ext; ?>">
										Your browser does not support the video tag.
									</video>
								</div>
								<?php	
							}

						}
					} 
	 			?>	
	 			</div>
	 		</div>
	 		<script type="text/javascript">
		    	$(document).ready(function(){
		    		smiley('#postContent<?php echo $post->id; ?>');	
		    		$('.oembed<?php echo $post->id; ?>').oembed('<?php if(isset($oembedLink[0])) { echo $oembedLink[0]; } ?>');
		    	});
		    </script>
	 		<i class="text-muted small"><?php echo $post->GovernmentAgencies->name; ?></i>

	 		<div class="panel-footer small">
	 			
	 			<div class="btn-group">
	 				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
		   				Mood 
		   				<span class="caret" ></span>
		   			</a>
						<ul role="menu" class="dropdown-menu">
							<li class="post-mood" data-mood="smile" data-value="<?php echo $post->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-smile" title="Smile">:)</span> Smile</a></li>
							<li class="post-mood" data-mood="laugh" data-value="<?php echo $post->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-big-smile" title="Laugh">:D</span> Laugh</a></li>
							<li class="post-mood" data-mood="sad" data-value="<?php echo $post->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-sad-smile" title="Sad">:(</span> Sad</a></li>
							<li class="post-mood" data-mood="angry" data-value="<?php echo $post->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-angry" title="Angry">:@</span> Angry</a></li>
						</ul>
				</div>
				 &nbsp; | &nbsp; <a href="javascript:void(0)" class="commentLink" data-value="comment<?php echo $key; ?>">Comment</a> &nbsp; | &nbsp; <a href="javascript:void(0)">Repost</a>
	   			<span class="pull-right small">
		   			<?php 
		   				$postSmile = 0; $postLaugh = 0; $postSad = 0; $postAngry = 0;
		   				foreach ($post->postMoods as $postMood) {
							if($postMood->mood == 'smile'){
								$postSmile++;
							}
							if($postMood->mood == 'laugh'){
								$postLaugh++;
							}
							if($postMood->mood == 'sad'){
								$postSad++;
							}
							if($postMood->mood == 'angry'){
								$postAngry++;
							}
		   				} 
		   			?>
		   			<span id="p-emoticons-<?php echo $post->id; ?>">
			   			<?php if($postSmile > 0){ ?>
			   				<a href="javascript:void(0)" id="p-smile-count-<?php echo $post->id; ?>"><span class="emoticon emoticon-smile" title="Smile">:)</span><?php echo $postSmile; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($postLaugh > 0){ ?>
			   				<a href="javascript:void(0)" id="p-laugh-count-<?php echo $post->id; ?>"><span class="emoticon emoticon-big-smile" title="Laugh">:D</span><?php echo $postLaugh; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($postSad > 0){ ?>
			   				<a href="javascript:void(0)" id="p-sad-count-<?php echo $post->id; ?>"><span class="emoticon emoticon-sad-smile" title="Sad">:(</span><?php echo $postSad; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($postAngry > 0){ ?>
			   				<a href="javascript:void(0)" id="p-angry-count-<?php echo $post->id; ?>"><span class="emoticon emoticon-angry" title="Angry">:@</span><?php echo $postAngry; ?> &nbsp;</a>
			   			<?php } ?>
		   			</span>
		   			&nbsp;<a href="javascript:void(0)">&nbsp;<i class="fui-bubble"></i> <?php echo count($post->Comments); ?></a>
	   			</span> 
	   		</div>
	   	</div>
	   	<?php foreach ($post->Comments as $commentKey => $comment) { ?>
	   <div class="list-group-item comments">
	   		<i class="small pull-right"><?php echo date('d M Y', strtotime($comment->created)); ?></i>
		    <p class="list-group-item-heading small"><b><a href="users/u/<?php echo $comment->Users->username; ?>"><?php echo $comment->Users->username; ?></a></b></p>
		    <p class="list-group-item-text small" id="commentContent<?php echo $comment->id; ?>"><?php echo $comment->comment; ?></p>
		    <script type="text/javascript">
		    	$(document).ready(function(){
		    		smiley('#commentContent<?php echo $comment->id; ?>');
		    	});
		    </script>
		    <div class="panel-footer small">
		   		<div class="btn-group">
	 				<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
		   				Mood 
		   				<span class="caret" ></span>
		   			</a>
						<ul role="menu" class="dropdown-menu">
							<li class="comment-mood" data-mood="smile" data-value="<?php echo $comment->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-smile" title="Smile">:)</span> Smile</a></li>
							<li class="comment-mood" data-mood="laugh" data-value="<?php echo $comment->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-big-smile" title="Laugh">:D</span> Laugh</a></li>
							<li class="comment-mood" data-mood="sad" data-value="<?php echo $comment->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-sad-smile" title="Sad">:(</span> Sad</a></li>
							<li class="comment-mood" data-mood="angry" data-value="<?php echo $comment->id; ?>"><a href="javascript:void(0)"><span class="emoticon emoticon-angry" title="Angry">:@</span> Angry</a></li>
						</ul>
				</div>
		   		<span class="pull-right small">
		   			<?php 
		   				$commentSmile = 0; $commentLaugh = 0; $commentSad = 0; $commentAngry = 0;
		   				foreach ($comment->commentMoods as $commentMood) {
							if($commentMood->mood == 'smile'){
								$commentSmile++;
							}
							if($commentMood->mood == 'laugh'){
								$commentLaugh++;
							}
							if($commentMood->mood == 'sad'){
								$commentSad++;
							}
							if($commentMood->mood == 'angry'){
								$commentAngry++;
							}
		   				} 
		   			?>
		   			<span id="c-emoticons-<?php echo $comment->id; ?>">
			   			<?php if($commentSmile > 0){ ?>
			   				<a href="javascript:void(0)" id="c-smile-count-<?php echo $comment->id; ?>"><span class="emoticon emoticon-smile" title="Smile">:)</span><?php echo $commentSmile; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($commentLaugh > 0){ ?>
			   				<a href="javascript:void(0)" id="c-laugh-count-<?php echo $comment->id; ?>"><span class="emoticon emoticon-big-smile" title="Laugh">:D</span><?php echo $commentLaugh; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($commentSad > 0){ ?>
			   				<a href="javascript:void(0)" id="c-sad-count-<?php echo $comment->id; ?>"><span class="emoticon emoticon-sad-smile" title="Sad">:(</span><?php echo $commentSad; ?> &nbsp;</a>
			   			<?php } ?>
			   			<?php if($commentAngry > 0){ ?>
			   				<a href="javascript:void(0)" id="c-angry-count-<?php echo $comment->id; ?>"><span class="emoticon emoticon-angry" title="Angry">:@</span><?php echo $commentAngry; ?> &nbsp;</a>
			   			<?php } ?>
		   			</span>
	   			</span> 
		   	</div>
		</div>
		<?php } ?>
	   	<div class="list-group-item hide" id="comment<?php echo $key; ?>">
	   		
	   		<form action="comments/create" method="post">
		   		<input value="<?php echo $post->id; ?>" class="hide" name="post_id">
				<div class="form-group">
					<textarea id="commentInput<?php echo $key; ?>" class="form-control" placeholder="Write a comment..." value="" name="comment" /></textarea>
				</div>
				<button class="btn btn-info btn-embossed btn-sm" type="submit">Submit</button>
			</form>
			
		</div>
	</div>
	<?php } ?>
	<!-- <div class="panel panel-default">
		<div class="panel-heading">
			<small><i class="text-default pull-right">Lifestyle Check - 22 Nov 2014</i></small>
			<h3 class="panel-title">123456ABCDE </h3>

		</div>
		<div class="panel-body">
	 		<p><small>Irritated by the ostentatious lifestyles of government officials? Think you can contribute info? Answer this survey: http://www.lifestylecheck.org</small></p>
	   	</div>
	   	<div class="panel-footer well-sm btn-embossed">
	   		<a href="#"><small>Repost</small></a> &nbsp; | &nbsp; <a href="#"><small>Comment</small></a>
		   	<div class="list-group">
				  <a href="#" class="list-group-item">
				    <p class="list-group-item-heading"><b>54321EDCBA</b></p>
				    <p class="list-group-item-text"><small>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small></p>
				   <a href="#">&nbsp;<i class="text-danger fui-heart"></i></a>
				  </a>
				  <a href="#" class="list-group-item">
				    <p class="list-group-item-heading"><b>12345ABCDE</b></p>
				    <p class="list-group-item-text"><small>Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</small></p>
				    <a href="#"><small>Like</small></a> &nbsp; | &nbsp; <a href="#"><small>Comment</small></a>
				  </a>
				  <div class="list-group-item">
					<div class="form-group">
						<textarea class="form-control" placeholder="Write a comment..." value="" /></textarea>
					</div>
					<button class="btn btn-info btn-embossed" type="button">Post comment</button>	
					
				</div> 
			</div>
		</div>
	</div> -->
</div>

<div class="col-md-3 col-xs-6">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">What is this</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>
</div>	

<div class="col-md-3 col-xs-6">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">PARTNERS</h3>
		</div>
		<div class="panel-body text-center">
			<div class="row">
				<div class="col-md-6">
					<a href="http://www.dilg.gov.ph" target="_BLANK" title="Dept. of Interior and Local Government">DILG</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.rips.gov.ph" target="_BLANK" title="Revenue Integrity Protection Service">RIPS</td>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="http://www.ombudsman.gov.ph" target="_BLANK" title="Office of the Ombudsman">Ombudsman</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.dpwh.gov.ph" target="_BLANK" title="Dept. of Public Works and Highways">DPWH</a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a href="http://www.omb.gov.ph" target="_BLANK" title="Optical Media Board">OMB</a>
				</div>
				<div class="col-md-6">
					<a href="http://www.competitive.org.ph" target="_BLANK" title="National Competitivenes Council">NCC</a>
				</div>
			</div>
			
		</div>
	</div>
</div>	

	

<script type="text/javascript">
	$(document).ready(function(){

		$(":file").filestyle();

		$('.commentLink').on('click', function(){
			var id = $(this).data('value');
			$('#'+id).removeClass('hide');
		});

		$('#selectAgency').on('change', function(){
			var agency = $(this).val();
			window.location.href = "a="+agency;
		});

		$('#postForm').on('submit', function(event){
			var post = $('#postTextArea').val();
			var agency = $('#govAgencySelect').val();
			var category = $('#categorySelect').val();
			// if(post == '' || agency == '' || category == ''){
			// 	alert(post+" "+agency+" "+category);
			// 	event.preventDefault();
			// }
		});

		$('.post-mood').on('click', function(){
			var id = $(this).data('value');
			var mood = $(this).data('mood');
			$.ajax({
				  type: "POST",
				  url: "post_moods/create",
				   data: { id: id, mood: mood }
				})
				  .done(function( data ) {
				  	obj = JSON.parse(data);
				    if(obj.result == true){
				    	var emoticonClass = '';
				    	var emoTitle = '';
				    	if(mood == 'smile'){ emoticonClass = 'emoticon-smile'; emoTitle = 'Smile'; }
			    		if(mood == 'laugh'){ emoticonClass = 'emoticon-big-smile'; emoTitle = 'Laugh'; }
			    		if(mood == 'sad'){ emoticonClass = 'emoticon-sad-smile'; emoTitle = 'Sad'; }
			    		if(mood == 'angry'){ emoticonClass = 'emoticon-angry'; emoTitle = 'Angry'; }
				    	if(obj.mood_count == 1){
				    		$('#p-emoticons-'+id).append('<a href="javascript:void(0)" id="p-'+mood+'-count-'+id+'"><span class="emoticon '+emoticonClass+'" title="'+emoTitle+'">:)</span>1 &nbsp;</a>')
				    	} else {
				    		$('#p-'+mood+'-count-'+id).html('<span class="emoticon '+emoticonClass+'" title="'+emoTitle+'">:)</span>'+obj.mood_count+' &nbsp;');
				    	}
				    	server.emit('notifData', {id: "<?php echo $sessionUser['id']; ?>", opened: "no"});
				    }
				  });
		});

		$('.comment-mood').on('click', function(){
			var id = $(this).data('value');
			var mood = $(this).data('mood');
			$.ajax({
				  type: "POST",
				  url: "comment_moods/create",
				  data: { id: id, mood: mood }
				})
				  .done(function( data ) {
					obj = JSON.parse(data);
					//alert(data);
				    if(obj.result == true){
				    	var emoticonClass = '';
				    	var emoTitle = '';

				    	if(mood == 'smile'){ emoticonClass = 'emoticon-smile'; emoTitle = 'Smile'; }
			    		if(mood == 'laugh'){ emoticonClass = 'emoticon-big-smile'; emoTitle = 'Laugh'; }
			    		if(mood == 'sad'){ emoticonClass = 'emoticon-sad-smile'; emoTitle = 'Sad'; }
			    		if(mood == 'angry'){ emoticonClass = 'emoticon-angry'; emoTitle = 'Angry'; }
				    	if(obj.mood_count == 1){
				    		$('#c-emoticons-'+id).append('<a href="javascript:void(0)" id="c-'+mood+'-count-'+id+'"><span class="emoticon '+emoticonClass+'" title="'+emoTitle+'">:)</span>1 &nbsp;</a>')
				    	} else {
				    		$('#c-'+mood+'-count-'+id).html('<span class="emoticon '+emoticonClass+'" title="'+emoTitle+'">:)</span>'+obj.mood_count+' &nbsp;');
				    	}
				    	server.emit('notifData', {id: "<?php echo $sessionUser['id']; ?>", opened: "no"});
				    }    
				  });
		});
	
	});
</script>


<script>
 $(function () {
    // Set up preview.
    // $('#postTextArea').preview({key:'3803104eae864b71979f1d963d8d03c5'})
 	var linkCount = 0;
    // // On submit add hidden inputs to the form.
    $('#postTextArea').on('keyup', function(){
    	searchText = $(this).val();
    	var reg = /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
    	// var urls = searchText.match(/[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi);
    	if(searchText.match(reg)){
    		var url = searchText.match(reg).toString();
  //   	var link = '';
		// // you can then iterate through urls
		// for (var i = 0, il = urls.length; i < il; i++) {
		//     // do whatever with urls[i]
		//    	link += urls[i];
		// }
		// alert(link);
			if(linkCount == 0) {
	      		$('.selector-wrapper').oembed(url);
			}
			linkCount = 1;
		} else {
			linkCount = 0;
		}
      
      //return true;
    });

    
   	window.setTimeout(function() {
	    $(".alert").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 3000);
	//$('a.youtube').YouTubeModal({autoplay:0, width:640, height:480});

	// var server = io.connect("http://<?php echo $_SERVER['SERVER_NAME']; ?>:8080");
	
	// $('.dropdown-menu a.notifications').on('click', function(e){ 
	// 	var notifId = $(this).data('id'); 
	// 	notifOpened(notifId);
	// 	$(this).remove();
		
	// 	//Animate
	// 	$('html, body').stop().animate({
	// 	    scrollTop: $( $(this).attr('href') ).offset().top - 160
	// 	}, 400);
	// 	return false;
	// });
	// $('.scrollTop a').scrollTop();

	
	// function notifOpened(notifId) {
	// 	$.ajax({
	// 			  type: "POST",
	// 			  url: "notifications/notifOpened",
	// 			  data: { notification_id: notifId }
	// 			})
	// 			  .done(function( data ) {
	// 			  	server.emit('notifData', {id: "<?php echo $sessionUser['id']; ?>", opened: "no"});
	// 			  	var notifCount = $('#notifBadge').text();
	// 			  	if(notifCount > 1) {
	// 			  		$('#notifBadge').text(notifCount-1);
	// 			  	} else {
	// 			  		$('#notifIcon').removeClass('text-warning');
	// 					$('#notifBadge').remove();
	// 					$('#notifList').html('');
	// 			  	}
	// 			  	$('.scrollTop a').scrollTop();
	// 				// obj = JSON.parse(data);
	// 			 //    if(obj.result == true){
				    	
	// 			 //    }    
	// 			  });

	// }

	// 	server.on('users', function (data) {

	// 		if(data.user_id == "<?php echo $sessionUser['id']; ?>"){

	// 			if(Object.keys(data.notifications).length > 0){

	// 				$('#notifIcon').addClass('text-warning');
	// 				$('#notifBadge').remove();
	// 				$('#notifIcon').append('<span id="notifBadge" class="badge badge-warning">'+Object.keys(data.notifications).length+'</span>');
	// 				$('#notifList').html('');
	// 				//$('#notifLinkHolder').append('<ul class="dropdown-menu" id="notifList"></ul');
	// 				//var li = '';
	// 				$.each(data.notifications, function (i, val) {
	// 					$('#notifList').append('<li><a href="#'+val.action_id+'" class="notifications" data-id="'+val.id+'">'+val.message+'</a></li>');
	// 				});
	// 			} else {
	// 				$('#notifIcon').removeClass('text-warning');
	// 				$('#notifBadge').remove();
	// 				$('#notifList').html('');
	// 			}
	// 		}

	// 	});
	
	

});
</script>