
<!-- BEGIN LOGIN BOX -->
<div class="container" id="login-block">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="login-box clearfix animated flipInY">
                <!-- <div class="page-icon animated bounceInDown">
                    <img src="assets/img/account/user-icon.png" alt="Key icon">
                </div> -->
                <div class="login-logo">
                    <a href="<?php echo $this->request->getUri(); ?>">
                        <h1 class="logo">Hulikaw</h1>
                    </a>
                </div>
                <hr>
                <div class="login-form">
                    <!-- BEGIN ERROR BOX -->
                    <!-- <div class="alert alert-danger hide">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <!-- <h4>Error!</h4> -->
                        <?php $this->flash->output(); ?>
                    <!-- </div> -->
                    <!-- END ERROR BOX -->
                    <form action="login" method="post">
                        <input type="text" name="username" placeholder="Username" class="input-field form-control user" />
                        <input type="password" name="password" placeholder="Password" class="input-field form-control password" />
                        <input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>" >
                        <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left"><span class="ladda-label">login</span></button>
                    </form>
                    <div class="login-links">
                        <a href="password_forgot">Forgot password?</a>
                        <br>
                        <a href="signup">Don't have an account? <strong>Sign Up</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END LOCKSCREEN BOX -->