<div class="col-md-9">
	<div class="well text-center" style="padding: 140px 0;">
		<h3>Thinking you can't do anything to help fight corruption?</h3>
		<h2 class="text-info">Think again.</h2>
	</div>
</div>

<div class="col-md-3">
	<form class="well" action="signup" method="post">
		<fieldset>
			Interested in helping the fight against high-living, corrupt govt officials?
			<div class="form-group">
			    <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Username">
			</div>
			<div class="form-group">
			    <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
			</div>
			<div class="form-group">
			    <input type="password" class="form-control" id="inputConfirmPassword" name="confirm_password" placeholder="Confirm password">
			</div>
			<div class="form-group">
			    <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email (optional)">
			</div>
			<div class="form-group">
			    <input type="number" class="form-control" id="inputMobile" name="mobile" placeholder="Mobile (optional)">
			</div>
			<div class="form-group">
			    <button type="submit" class="btn btn-info btn-block btn-embossed">Sign up</button>
			</div>
		</fieldset>
	</form>
</div>