<!--START SIGNUP BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                    <div class="login-logo">
                       <a href="<?php echo $this->request->getUri(); ?>">
                            <h1 class="logo">Hulikaw</h1>
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        <!-- Start Error box -->
                        <?php $this->flash->output(); ?>
                        <!-- End Error box -->
                        <form action="signup" method="post">
                            <input type="text" name="username" placeholder="Username" class="input-field" />
                            <input type="password" name="password" placeholder="Password" class="input-field" />
                            <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field" />
                            <input type="email" name="email" placeholder="Email (optional)" class="input-field" />
                            <input type="text" name="mobile" placeholder="Mobile (optional)" class="input-field" />
                            <input type="hidden" name="<?php echo $this->security->getTokenKey() ?>" value="<?php echo $this->security->getToken() ?>" >
                            <!-- <div class="row-fluid">
                                    <label class="aggreement">
                                        <input type="checkbox"  data-theme='b'>I agree to something I will never read
                                    </label>
                            </div> -->
                            <button id="submit-form" class="btn btn-login ladda-button" data-style="expand-left"><span class="ladda-label">Sign Up</span></button>
                        </form>
                        <div class="login-links">
                            <!-- <a href="password_forgot.html">Forgot password?</a>
                            <br> -->
                            <a href="login">Already have an account? <strong>Sign In</strong></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END SIGNUP BOX