<!DOCTYPE html>
<html>
<head>
	<?php //$this->assets->outputCss(); ?>
	<?php //$this->assets->outputJs(); ?>
	<meta charset="UTF-8" />
	<title>HuliKaw</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="GreenLogik Inc." name="author" />

    <!-- Loading Bootstrap -->
    <!-- <link href="themes/flat-ui/css/vendor/bootstrap.min.css" rel="stylesheet"> -->
    <?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/css/vendor/bootstrap.min.css"); ?>
     <!-- Loading Flatly -->
     <?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/css/bootswatch.min.css"); ?>
    <!-- Loading Flat UI -->
    <?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/css/flat-ui.css"); ?>
    <?php echo Phalcon\Tag::stylesheetLink("themes/flat-ui/css/custom.css"); ?>

    <link rel="shortcut icon" href="themes/flat-ui/img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="themes/flat-ui/js/vendor/html5shiv.js"></script>
      <script src="themes/flat-ui/js/vendor/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/vendor/jquery.min.js"); ?>
	<script src="http://cdn.embed.ly/jquery.embedly-3.0.5.min.js" type="text/javascript"></script>
	<script src="http://cdn.embed.ly/jquery.preview-0.3.2.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://cdn.embed.ly/jquery.preview-0.3.2.css" />
     <style>
      body {
        min-height: 2000px;
        padding-top: 70px;
      }
    </style>
    <script src="http://<?php echo $_SERVER['SERVER_NAME']; ?>:8080/socket.io/socket.io.js"></script>
	<script>
	$(document).ready(function() {
		var server = io.connect("http://<?php echo $_SERVER['SERVER_NAME']; ?>:8080");
	
	$(document).on('click', 'a.notifications', function(e){ 
		var notifId = $(this).data('id'); 
		notifOpened(notifId);
		$(this).remove();
		
		//Animate
		$('html, body').stop().animate({
		    scrollTop: $( $(this).attr('href') ).offset().top - 160
		}, 400);
		return false;
	});
	$('.scrollTop a').scrollTop();

	
	function notifOpened(notifId) {
		$.ajax({
				  type: "POST",
				  url: "notifications/notifOpened",
				  data: { notification_id: notifId }
				})
				  .done(function( data ) {
				  	server.emit('notifData', {id: "<?php echo $sessionUser['id']; ?>", opened: "no"});
				  	var notifCount = $('#notifBadge').text();
				  	if(notifCount > 1) {
				  		$('#notifBadge').text(notifCount-1);
				  	} else {
				  		$('#notifIcon').removeClass('text-warning');
						$('#notifBadge').remove();
						$('#notifList').html('');
				  	}
				  	//$('.scrollTop a').scrollTop();
					// obj = JSON.parse(data);
				 //    if(obj.result == true){
				    	
				 //    }    
				  });

	}

		server.on('users', function (data) {

			if(data.user_id == "<?php echo $sessionUser['id']; ?>"){

				if(Object.keys(data.notifications).length > 0){

					$('#notifIcon').addClass('text-warning');
					$('#notifBadge').remove();
					$('#notifIcon').append('<span id="notifBadge" class="badge badge-warning">'+Object.keys(data.notifications).length+'</span>');
					$('#notifList').html('');
					//$('#notifLinkHolder').append('<ul class="dropdown-menu" id="notifList"></ul');
					//var li = '';
					$.each(data.notifications, function (i, val) {
						$('#notifList').append('<li><a href="#'+val.action_id+'" class="notifications" data-id="'+val.id+'">'+val.message+'</a></li>');
					});
				} else {
					$('#notifIcon').removeClass('text-warning');
					$('#notifBadge').remove();
					$('#notifList').html('');
				}
			}

		});
	});

	</script>

</head>
<body>

	<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-fixed-top navbar-embossed" role="navigation">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	      </button>
	      <a class="navbar-brand" href="index">HuliKaw</a>
	    </div>
	    <div class="navbar-collapse collapse">
	    	<?php if ($sessionUser) { ?>
			<ul class="nav navbar-nav">
				<li class="active"><a href="index"><i class="fui-home"></i> Home</a></li>
				<li class="dropdown">

					<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="notifLinkHolder"><i id="notifIcon" class="glyphicon glyphicon-bell <?php if(count($notifications) > 0){ echo 'text-warning';  } ?>"></i> <?php if(count($notifications) > 0){ ?> <span id="notifBadge" class="badge badge-warning"><?php echo count($notifications); ?></span><?php } ?></a>
					<?php if(count($notifications) > 0){ ?>
					<ul class="dropdown-menu" id="notifList">
						<?php foreach ($notifications as $notification) { ?>
						<li><a href="#<?php echo $notification->action_id; ?>" class="notifications" data-id="<?php echo $notification->id; ?>" ><?php echo $notification->message; ?></a></li>
						<?php } ?>
					</ul>
					<?php } ?>
				</li>
				<!-- <li><a href="#messages"><i class="fui-chat"></i> Messages</a></li> -->
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <?php echo $sessionUser['username']; ?> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#"><span class="fui-user"></span> Profile</a></li>
						<li><a href="#"> Reports</a></li>
						
						<li class="divider"></li>
						<li><a href="logout"><span class="fui-exit"></span> Sign Out</a></li>
						<li><a href="#"><span class="fui-gear"></span> Settings</a></li>
					</ul>
				</li>
			</ul>
			<button class="btn navbar-btn navbar-right btn-embossed" type="button"><i class="fui-new"></i> New Post</button>
			<?php } ?>
			<?php if (!$sessionUser) { ?>
				<form class="navbar-form navbar-right" action="login" method="post" role="form">
					<div class="form-group">
						<input class="form-control" id="navbarInput-02" type="text" name="username" placeholder="Username">
					</div>
					<div class="form-group">
						<input class="form-control" id="navbarInput-03" type="password" name="password" placeholder="Password">
					</div>
					<button type="submit" class="btn btn-success btn-embossed">Sign in</button>
				</form>
			<?php } ?>
			<?php if ($sessionUser) { ?>
			<form class="navbar-form navbar-right" action="index/search" role="search" id="searchBar">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" id="navSearchInput" type="search" name="search" placeholder="Search">
						<span class="input-group-btn">
							<button type="submit" class="btn"><span class="fui-search"></span></button>
						</span>
					</div>
				</div>
			</form>
			<?php } ?>
	    </div><!--/.nav-collapse -->
	 </div>
</div>
	
	<div class="container-fluid">
		<?php echo $this->getContent(); ?>
    </div>

  	<?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/vendor/jquery-linkify.min.js"); ?>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/flat-ui.min.js"); ?>
	<?php echo Phalcon\Tag::javascriptInclude("themes/flat-ui/js/application.js"); ?>

    <script>
	    $(document).ready(function(){
	      $('p').linkify();
	      
	      $('#searchBar').on('submit', function(event){
				var search = $('#navSearchInput').val();
				if(search == ''){
					event.preventDefault();
				}
			});
	    });
	</script>
	

</body>
</html>
