<?php use Phalcon\Tag as Tag; ?>
<!doctype html>
<html>
<head>
	<!-- BEGIN META SECTION -->
    <meta charset="utf-8">
    <title>Hulikaw</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="" name="description" />
    <meta content="GreenLogik Inc." name="author" />

    <?php echo Tag::stylesheetLink('themes/pixit/css/bootstrap.css'); ?>
    <?php echo Tag::stylesheetLink('themes/pixit/css/plugins.min.css'); ?>
    <?php echo Tag::stylesheetLink('themes/pixit/plugins/bootstrap-loading/lada.min.css'); ?>
    <?php echo Tag::stylesheetLink('themes/pixit/css/style.css'); ?>
    <?php echo Tag::stylesheetLink('//fonts.googleapis.com/css?family=Droid+Serif:400,700,700italic,400italic'); ?>
    <?php echo Tag::stylesheetLink('themes/pixit/css/custom.css'); ?>
    <link href="#" rel="stylesheet" id="theme-color">
     <!-- BEGIN PAGE LEVEL STYLE -->
     <?php echo Tag::stylesheetLink('themes/pixit/css/animate-custom.css'); ?>
    <!-- END PAGE LEVEL STYLE -->
    <?php echo Tag::javascriptInclude('themes/pixit/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js'); ?>
</head>
<body class="login fade-in" data-page="login">
	
	<?php echo $this->getContent(); ?>



<!-- BEGIN MANDATORY SCRIPTS -->
<?php echo Tag::javascriptInclude('themes/pixit/plugins/jquery-1.11.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/jquery-migrate-1.2.1.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/jquery-ui/jquery-ui-1.10.4.min.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/jquery-mobile/jquery.mobile-1.4.2.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/bootstrap/bootstrap.min.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/jquery.cookie.min.js'); ?>
<!-- END MANDATORY SCRIPTS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<?php echo Tag::javascriptInclude('themes/pixit/plugins/backstretch/backstretch.min.js'); ?>
<?php echo Tag::javascriptInclude('themes/pixit/plugins/bootstrap-loading/lada.min.js'); ?>
<!-- <script src="themes/pixit/js/account.js"></script> -->
<!-- END PAGE LEVEL SCRIPTS -->
		
</body>
</html>
